.notification-drop {
  position: relative;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
}

.notification-content {
  padding: 20px;
  right: 0;
  list-style: none;
  display: none;
  position: absolute;
  background-color: #f6f3eb;
  width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  border: 1px solid lightgray;
}

.notification-drop .item {
  padding: 10px;
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.notification-drop:hover .notification-content {
  display: flex;
  flex-direction: column;
  gap: 5px;

  /* padding: 10px 0; */
}

.item img {
  width: 30px;
}

.btn__badge {
  background: #ff5d5d;
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0px;
  padding: 3px 10px;
  border-radius: 50%;
}

.notification-card:nth-child(1):hover {
  border-radius: 5px 5px 0 0;
}

.notification-card:last-child:hover {
  border-radius: 0 0 5px 5px;
}

.notification-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(100, 100, 100);
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.notification-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notification-card:hover {
  color: black;
}

.notification-card--action {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  height: 25px;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
  cursor: pointer;
  color: white;
  background-color: var(--cards-color);
}

.notification-card--action:hover {
  transform: scale(1.01);
  background-color: #3d3964;

  transition: background-color 0.5s ease-in-out;
}

.notification-card--data {
  font-size: 14px;
  margin-left: 10px;
  
}

.notification-card--title {
  font-weight: bold;
}
