.chat {
    border-radius: 15px;
    width: 80%;
    height: 90%;
    min-width: 400px;
    display: grid;
    max-height: 1000px;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 100%;
    gap: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.chat-wrapper {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chat-toggler {
    border-radius: 15px;
    width: 90px;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid gray;
}

.chat-toggler:hover {
    cursor: pointer;
}

.btn-active {
    background-color: whitesmoke;
    border: 2px solid #28235c;
    background-color: #28235c;
    color: white;
}
.chat-users-header {
    display: flex;
    gap: 2px;
}

.online {
    color: green !important;
}

.chat-body-header {
    height: 70px;
    border-radius: 5px;
    background-color: #f6f3eb;
}

.chat-body-content {
    overflow: scroll;
    height: 100%;
    border-radius: 5px;
    background-color: #f6f3eb;
}

.chat-body-footer {
    border-radius: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #f6f3eb;
}
.chat-body {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 5px;
}

@media only screen and (max-width: 800px) {
    .chat {
        grid-template-rows: 1fr 3.5fr;
        grid-template-columns: 100%;
    }
}
/*

styling the message sender
*/
.message-sender {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-sender input {
    line-height: 28px;
    border: 2px solid transparent;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
    width: 50%;
    max-width: 400px;
    height: 80%;
    border-radius: 38px 0 0 38px;
    outline: none;
    padding-left: 20px;
    padding-right: 50px;
    font-weight: 600;
    border: 3px solid #28235c;
}
.send-button {
    height: 80%;
    width: 80px;
    border-top: 3px solid #28235c;
    border-right: 3px solid #28235c;
    border-bottom: 3px solid #28235c;
    border-left: 1px solid #28235c;
    border-radius: 0 38px 38px 0;
}

.room-form {
    display: flex;
    flex-direction: column;
}
