.game-options
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.options {
    display: flex;
    gap: 50px;
}

.home {
    padding: 40px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
}