

.home {
    place-items: center;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: auto minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.home--center,
.home--left,
.home--right {
    justify-self: end;
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 700px;
    padding: 10px;
}

@media only screen and (max-width: 1100px) {
    .home {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .home--center,
    .home--left,
    .home--right {
        justify-self: center;
        width: 100%;
        max-width: 800px;
        padding: 10px;
    }
}
