/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    background: linear-gradient(90deg, #d9d9d9 0%, #062c59 100%);
    font-family: "Montserrat", sans-serif;
    height: 90vh;
}

/*
    reseting the css to default values
*/

html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
#root {
    height: 100%;
    isolation: isolate;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
input,
button,
textarea,
select {
    font: inherit;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

/*
    styling the nav bar
*/
.navbar {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-shadow: 0 2px 4px -4px lightgray;
}

.navbar-list {
    list-style: none;
    display: flex;
    color: white;
    margin-right: 50px;
}

.navbar-list > li {
    margin: auto 70px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    line-height: 27px;
    letter-spacing: 2px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-size: 22px;
    -webkit-transition: font-size 0.5s ease-in-out;
    -moz-transition: font-size 0.5s ease-in-out;
    -o-transition: font-size 0.5s ease-in-out;
    transition: font-size 0.5s ease-in-out;
}

.home-profile-img {
    height: 68px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 0;
    box-shadow: 2px 2px 10px black;
}

.logo {
    width: 120px;
    margin: auto 20px;
}

/*
    styling the home page
*/
.home {
    display: flex;
    align-items: center;
    height: 90vh;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text {
    font-size: 85px;
    line-height: 100px;
    color: white;
    margin: 0 0 60px 0;
    padding: 0;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #cecece, 1px 2px 1px #cecece, 1px 3px 1px #cecece,
        1px 4px 1px #cecece, 1px 5px 1px #cecece, 1px 6px 1px #cecece,
        1px 7px 1px #cecece, 1px 8px 1px #cecece, 1px 9px 1px #cecece,
        1px 10px 1px #cecece, 1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.wrapper {
    border-radius: 50px;

}
.messages-container--header {
    position: fixed;
    background-color: black;

    height: 83px;
}

.right > img {
    width: 800px;
    box-shadow: 4px 4px 4px #062c59;
    border-radius: 15px;
}

.play-btn {
    border: none;
    outline: none;
    cursor: pointer;
    width: 300px;
    margin: 10px;
    height: 70px;
    border-radius: 9999px;
    background-color: #072e5b;
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 4px 4px 8px lightgray;
}

.home-buttons {
    margin-left: 60px;
}
.play-btn:hover {
    transform: scale(1.01);
    background-color: #284b77;
    transition: background-color 0.5s ease-in-out;
}

/*
    styling the profile page
*/
.profile-page {
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    max-width: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-weight: 600;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
}

.profile-username {
    color: #062c59;
    margin-top: 35px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.games-card {
    background-color: #062c59;
    width: 70%;
    margin-top: 50px;
    height: 70px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}

.history {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info-card > p {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.info-card {
    background-color: #062c59;
    width: 40%;
    margin: 20px 5px 0 5px;
    height: 60px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--user-profile {
    width: 50px;
    border-radius: 50%;
}

.match-card--player {
    color: white;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}

.match-card--left {
    margin-left: 10px;
}

.match-card--right {
    margin-right: 10px;
}

.match-card--status {
    color: white;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.match-card {
    background-color: #062c59;
    width: auto;
    height: 160px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.history-cards {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    overflow: auto;
    white-space: nowrap;
}

.history-cards::-webkit-scrollbar {
    border-radius: 5px;
}

.history-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.profile-page-img {
    width: 800px;
    box-shadow: 4px 4px 4px;
    border-radius: 15px;
}

/*
    Dark mode toggler
*/

.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
    styling the chat page
*/
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.chat-nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* display: none; */
}

.chat-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 1500px;
    height: 1200px;
    border-radius: 15px;
}
.messages-container {
    height: 100%;
    overflow: auto;
    border-right: 1px solid lightgray;
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.messages-nav {
    border-right: 1px solid lightgray;
}
.chat-navbar {
    border-right: 1px solid lightgray;
}

.messages-nav > p {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    color: #062c59;
}

.chat-container {
    height: 100%;
    overflow: auto;
    border-right: 1px solid lightgray;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.friends-container {
    height: 100%;
}

.user-message-card {
    background-color: #e4e4e4;
    box-shadow: 4px 4px 4px lightgray;
    color: #062c59;
    font-weight: 500;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    margin: 20px auto;
}
.line-break {
    background-color: lightgray;
    height: 1px;
    box-shadow: 1px 1px 7px #7a7a7a;
}

.user-message-card--lastmessage {
    font-size: 14px;
}

.message-count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 100px;
    background-color: black;
}

.user-message-card--username {
    font-weight: bold;
}

.user-message-card--data {
    margin-left: 15px;
}
.user-message-card--profile {
    width: 60px;
    margin-left: 10px;
    border-radius: 50%;
}

.chat-container--user-info {
    display: flex;
    align-items: center;
    height: 83px;
}

.message-card {
    height: auto;
    width: fit-content;
    max-width: 50%;
    color: #062c59;

    margin-left: 10px;
    margin-top: 10px;
}

.message-card--sender-img {
    width: 65px;
    border-radius: 50%;
    margin-bottom: 0;
}

.message-card--container {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.message-card--message-time {
    font-size: 16px;
}

.message-card--sender-img {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.message-card > p {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 20px;
    background-color: #d9d9d9;
    margin-left: 70px;
    margin-top: 0;
    border-radius: 0px 15px 15px 15px;
}

.right-message-card {
    height: auto;
    width: fit-content;
    max-width: 50%;
    color: #062c59;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.right-message-card--sender-img {
    width: 65px;
    border-radius: 50%;
    margin-bottom: 0;
}

.right-message-card--container {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0;
}

.right-message-card--message-time {
    font-size: 16px;
}

.right-message-card--sender-img {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.right-message-card > p {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 20px;
    margin-right: 70px;
    margin-top: 0;
    border-radius: 15px 0 15px 15px;
    background-color: #d9d9d9;
}
.friends-container {
    height: 100%;
    overflow: auto;
}
.friends-container::-webkit-scrollbar {
    display: none;
}

.friends-nav > p {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    color: #062c59;
}
.friend-card--lastmessage {
    font-size: 14px;
}
.friend-card {
    background-color: #e4e4e4;
    box-shadow: 4px 4px 4px lightgray;
    color: #062c59;
    font-weight: 500;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 20px auto;
}

.friend-card--username {
    font-weight: bold;
}

.friend-card--data {
    margin-left: 15px;
    margin-right: 120px;
}
.friend-card--profile {
    width: 60px;
    margin-left: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 1700px) {
    .navbar-list > li {
        margin: auto 50px;
        font-size: 16px;
    }
    .right > img {
        width: 450px;
        margin-right: 100px;
    }
    .profile-page-img {
        width: 450px;
        margin-right: 50px;
    }
    .home-text {
        font-size: 60px;
        line-height: 80px;
        margin: 0 0 40px 0;
    }
    .home-buttons {
        margin-left: -100px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 1300px) {
    .navbar-list > li {
        margin: auto 30px;
        font-size: 16px;
    }
    .right > img {
        width: 350px;
        margin-right: 50px;
    }
    .profile-page-img {
        width: 350px;
        margin-right: 50px;
    }
    .home-text {
        font-size: 50px;
        line-height: 80px;
        margin: 0 0 30px 100px;
    }
    vertical-line-break .home-buttons {
        margin-left: 0;
        margin-top: 0;
    }
}

@media only screen and (max-width: 1100px) {
    .navbar-list > li {
        margin: auto 20px;
        font-size: 16px;
    }
    .right > img {
        width: 300px;
        margin-right: 50px;
        border-radius: 15px;
    }
    .profile-page-img {
        width: 300px;
        margin-right: 50px;
    }
    .home-text {
        font-size: 50px;
        line-height: 65px;
        color: white;
        margin: 0 0 30px 100px;
    }
    .home-buttons {
        margin-left: 0;
        margin-top: 0;
    }
}

@media only screen and (max-width: 950px) {
    .home-profile-img {
        height: 50px;
    }
    .navbar-list > li {
        margin: auto 10px;
        font-size: 16px;
    }
    .right > img {
        width: 300px;
        margin-right: 50px;
    }

    .profile-page-img {
        width: 300px;
        margin-right: 50px;
    }
    .home-text {
        font-size: 35px;
        line-height: 50px;
        margin: 0 0 30px 150px;
    }
    .home-buttons {
        margin-left: -50px;
        margin-top: 0;
    }
    .play-btn {
        width: 150px;
        font-size: 14px;
    }
}
