body {
    font-family: "Montserrat", sans-serif;
    background-color: #dedede;
    --cards-color: #28235c;
    --box-shadow-color: lightgray;
    color: black;
}

.page {
    max-width: 2000px;
    height: calc(100% - 100px);
}

.signin-page {
    width: 60%;
    max-width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f3eb;
    margin: auto auto;
    border-radius: 15px;
    box-shadow: 4px 4px gray;
    font-family: Michroma;
}

.signin-page > h2 {
    font-size: 26px;
    margin: 50px 50px 10px 50px;
}
.signin-page > a {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.signin-page > a > button {
    width: 60%;
    height: 60px;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    background-color: var(--cards-color);
    outline: none;
}
.active {
    border-bottom: 2px solid black;
}
.signin-page > a > button:hover {
    transform: scale(1.01);
    background-color: #3d3964;
    color: white;
    transition: background-color 0.5s ease-in-out;
}
/*
    styling the nav bar
*/


.not-found {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.back-link {
    font-size: 12px;
    border-bottom: 2px solid black;
    color: #28235c;
}




.left > p {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 150px;
    text-align: center;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #28235c;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    animation: move-up6 1.5s ease-in infinite alternate-reverse;
}

.right {
    width: 50%;
}

.messages-container--header {
    position: fixed;
    height: 83px;
}

.right > img {
    width: 50%;
    box-shadow: 4px 4px 4px var(--box-shadow-color);
    border-radius: 15px;
    margin: auto;
    animation: move-up6 1.5s ease-in infinite alternate-reverse;
}

.play-btn {
    border: none;
    outline: none;
    width: 270px;
    height: 70px;
    margin: 10px;
    border-radius: 38px;
    background-color: var(--cards-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 4px 4px 8px var(--box-shadow-color);
}

.home-buttons {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 60px;
}

.play-btn:hover {
    transform: scale(1.01);
    background-color: #3d3964;
    color: white;
    transition: background-color 0.5s ease-in-out;
}

.profile-page {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.profile-page--left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-weight: 600;
    margin: auto;
}

.profile-img {
    width: 120px;
    border-radius: 50%;
}

.profile-username {
    color: black;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.profile-hover {
    width: 400px;
    height: 400px;
    background-color: #f6f3eb;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    right: 100px;
    text-align: left;
}

.profile-hover--data {
    text-align: center;
    margin: 50px auto 50px auto;
}

.profile-hover--options {
    margin-left: 30px;
}

.profile-hover--options > a > p {
    margin-bottom: 20px;
    font-size: 20px;
}

.account-settings {
    width: 100%;
    margin-left: 100px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-settings {
    display: flex;
    height: 800px;
    width: 50%;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f3eb;
    box-shadow: gray 0px 20px 30px -10px;
}

.account-settings-right {
    width: 50%;
}

.account-settings-right > img {
    width: 60%;
    box-shadow: 4px 4px 4px var(--box-shadow-color);
    border-radius: 15px;
    margin: auto;
}
.profile-settings > img {
    width: 100px;
    border-radius: 50%;
    /* margin-bottom: 50px; */
}

.profile-settings > p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 50px;
}

.profile-settings > button,
.profile-settings > input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    box-shadow: gray 0px 20px 30px -10px;
    margin-bottom: 30px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #f6f3eb;
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

input[type="text"] {
    padding-left: 20px;
    padding-right: 20px;
}

#save-changes-btn {
    background-color: #28235c;
    color: white;
}
input[type="file"] {
    padding: 12px 20px 0 20px;
    background-color: white;
}

input[type="file"]::file-selector-button:hover {
    background: #d2cfc8;
}

.profile-settings > label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-hover--options > a > p:hover {
    color: gray;
    transition: color 0.5s ease-in-out;
}

.profile-hover--data > img {
    width: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.games-card {
    background-color: var(--cards-color);
    color: white;
    width: 50%;
    margin-top: 50px;
    height: 70px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.history {
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
}

.info-card > p {
    font-size: 15px;
    font-weight: 700;
}

.info-card {
    background-color: var(--cards-color);
    color: white;
    width: 25%;
    margin-top: 25px;
    margin-right: 5px;
    height: 60px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--user-profile {
    width: 50px;
    border-radius: 50%;
}



.history-cards {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    max-width: 90%;
    overflow-x: scroll;
    white-space: nowrap;
}

.history-cards::-webkit-scrollbar {
    width: 0px;
    border-radius: 5px;
}

.history-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.profile-page--right {
    width: 50%;
}
.profile-page-img {
    width: 60%;
    box-shadow: 4px 4px 4px;
    border-radius: 15px;
    margin: auto;
}

/*
    Dark mode toggler
*/

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73c0fc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: 0.4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73c0fc;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */
.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked + .slider {
    background-color: #183153;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}

/*
    styling the chat page
*/
.wrapper {
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-left {
    background-color: #f6f3eb;
    border-radius: 15px;
    box-shadow: gray 0px 20px 30px -10px;
    border: 1px solid #f6f3eb;
    width: fit-content;
    max-width: 70%;
}

.chat-nav {
    width: 100%;
    display: grid;
    color: white;
    background-color: var(--cards-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    grid-template-columns: 1fr 2fr 1fr;
}

.chat-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 900px;
    border-radius: 15px;
}

.messages-container {
    height: 100%;
    border-right: 1px solid var(--box-shadow-color);
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.messages-nav {
    border-right: 1px solid var(--box-shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-navbar {
    border-right: 1px solid var(--box-shadow-color);
}

.messages-nav > p {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}

.chat-container {
    height: 100%;
    overflow: auto;
    border-right: 1px solid var(--box-shadow-color);
    display: flex;
    flex-direction: column;
}

.messages::-webkit-scrollbar {
    display: none;
}

.friends-container {
    height: 100%;
}

.user-message-card {
    background-color: white;
    background-color: var(--cards-color);
    box-shadow: 4px 4px 4px var(--box-shadow-color);
    color: white;
    font-weight: 500;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    margin: 20px auto;
}

.line-break {
    background-color: #f6f3eb;
    height: 1px;
    box-shadow: 1px 1px 7px #7a7a7a;
}

.user-message-card--lastmessage {
    font-size: 14px;
}

.message-count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 70px;
    background-color: white;
}

.user-message-card--username {
    font-weight: bold;
}

.user-message-card--data {
    margin-left: 15px;
}

.user-message-card--profile {
    width: 60px;
    margin-left: 10px;
    border-radius: 50%;
}

.chat-container--user-info {
    display: flex;
    align-items: center;
    height: 83px;
}

.message-card {
    height: auto;
    width: fit-content;
    max-width: 60%;
    margin-left: 10px;
    margin-top: 10px;
}

.message-card--sender-img {
    width: 50px;
    border-radius: 50%;
    margin: 10px 10px 0 10px;
}

.message-card--container {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.message-card--message-time {
    font-size: 14px;
}

.message-card > p {
    font-weight: 600;
    padding: 15px 20px;
    font-size: 16px;
    background-color: var(--cards-color);
    color: white;
    margin-left: 70px;
    margin-top: 0;
    border-radius: 0px 15px 15px 15px;
}

.right-message-card {
    height: auto;
    width: fit-content;
    max-width: 60%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.right-message-card--container {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0;
}

.right-message-card--sender-name {
    font-size: 16px;
}

.right-message-card--message-time {
    font-size: 12px;
    text-align: right;
}

.right-message-card--sender-img {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 0;
}

.right-message-card > p {
    font-weight: 600;
    font-size: 16px;
    padding: 15px 20px;
    margin-right: 70px;
    margin-top: 0;
    border-radius: 15px 0 15px 15px;
    background-color: var(--cards-color);
    color: white;
}

.friends-container {
    height: 100%;
    overflow: auto;
}

.friends-container::-webkit-scrollbar {
    display: none;
}

.friends-nav > p {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}



.messages {
    margin-top: 20px;
    height: 90%;
    overflow: auto;
}

.message-sender {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-sender > input {
    line-height: 28px;
    border: 2px solid transparent;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
    width: 400px;
    height: 55px;
    border-radius: 38px;
    outline: none;
    padding-left: 20px;
    padding-right: 50px;
    font-weight: 600;
    border: 3px solid #28235c;
}

.send-button > img {
    width: 20px;
    cursor: pointer;
}

.send-button {
    position: relative;
    right: 40px;
}

/* @media only screen and (max-width: 1700px) {


    .play-btn {
        border: none;
        outline: none;
        width: 220px;
        height: 70px;
        border-radius: 38px;
        background-color: var(--cards-color);
        color: white;
        font-size: 16px;
        box-shadow: 4px 4px 8px var(--box-shadow-color);
    }

    .home-buttons {
        margin-left: 20px;
    }
} */

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 390px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 4px 4px 8px gray;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}


.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 0 4px #4e4c69;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/* @media only screen and (max-width: 1300px) {


    .play-btn {
        border: none;
        outline: none;
        width: 160px;
        height: 50px;
        border-radius: 38px;
        background-color: var(--cards-color);
        color: white;
        font-size: 14px;
        box-shadow: 4px 4px 8px var(--box-shadow-color);
    }

    .home-buttons {
        margin-left: 0px;
    }
} */

/* @media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 800px) {
} */
